body {
	font-family: Helvetica;
}

.page {
	margin-left: 5%;
	margin-right: 5%;
}

.navbox {
	background-color: #34495e;
	border-bottom: 1px solid #34495e;
}

.topbox {
	border: 0px;
	color: #fff;

	border-radius: 0 !important;
	display: block;
	padding-top: 15px;
	padding-left: 20px;
	min-height: 35px;
}

.errbox {
	background-color: #a03449;
	border-bottom: 1px solid #a03449;
}

.infobox {
	background-color: #689c9f;
	border-bottom: 1px solid #689c9c;
}

.wh {
	color :#fff;
	text-decoration: none;
}

.tl {
	width: 50%;
	display: table;
	table-layout: fixed;
}

.tl-item {
	width: 100%;
	list-style: none;
	padding: 7px;
	word-wrap: break-word;
	border: 1px solid;
}

.tl-item-default {
	background-color: #f7f7ff;
	border-color: #f0f0ff;
}

.tl-item-low {
	background-color: #dfd;
	border-color: #ced;
}

.tl-item-normal {
	background-color: #ffd;
	border-color: #dda;
}

.tl-item-high {
	background-color: #fdd;
	border-color: #fcc;
}

.comment-item {
  width: 100%;
  list-style: none;
  padding : 7px;
  word-wrap: break-word;
  background-color: #fffff0;
  border: 1px solid #f0f0ff;
  margin-bottom: 15px;
  border-radius: 15px;
}

.textfield {
	padding: 5px;
	margin-bottom: 15px;
}

.button {
	background-color: #acf;
	border: 2px solid #eee;
	padding: 5px 10px 5px 10px;
	margin: 0px;
	display: inline-block;
	font-size: 10pt;
	cursor: default;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.descr {
	margin-bottom: 5px;
}

ul.paperclip {
  list-style-image: url('/static/images/paperclip.gif');
}
