{% extends "layout.html" %}
{% block body %}
  <h2>Index</h2>
  {% if not session.logged_in %}
    <a href="{{ url_for('index.login') }}">Log in</a>
	or <a href="{{ url_for('index.sign_up') }}">sign up</a> to access this page.
  {% else %}
    Hello, {{ session.username }}

		<h3>Tasks you are assigned to:</h3>
		<ul class="tl">
		{% for task in assigned_tasks: %}
			<li class="tl-item">
				<a href="{{ url_for('tasks.show', id = task._id) }}">{{ task.title }}</a><br>
				<font size="-1">Due date: ...</font>
			</li>
    {% else %}
			<li><em>None</em></li>
    {% endfor %}
		</ul>

		<h3>Tasks you created (<a href="{{ url_for('tasks.edit', id = 'new') }}">add new</a>):</h3>
    <ul class="tl">
    {% for task in assigned_tasks: %}
			<li class="tl-item">
				<a href="{{ url_for('tasks.show', id = task._id) }}">{{ task.title }}</a><br>
				<font size="-1">Due date: ...</font>
			</li>
		{% else %}
      <li><em>None</em></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
