{% extends "layout.html" %}
{% from 'task_single.html' import render_task %}
{% block body %}
  <h2>{{ project.title }} (<a href="{{ url_for('projects.edit', id = project._id) }}">edit</a>):</h2>
  <p><b>Author:</b> {{ project.author }}</p>
  <p><b>Description:</b> {{ project.text }}</p>
  <p><b>Start date:</b> {{ project.start_date.strftime('%d.%m.%Y') }}</p>
  <p><b>Due date:</b> {{ project.due_date.strftime('%d.%m.%Y') }}</p>

  {% if files %}
  <p><b>Attached files:</b>
  <ul>
  {% for f in files %}
    <li><a href="{{ url_for('index.uploaded_file', id = task._id, name = f) }}">{{ f }}</a>
  {% endfor %}
  </ul>
  {% endif %}
  <a href="{{ url_for('tasks.edit', id = 'new') }}">Add new task</a>
  <hr>
  <ul class="tl">
  {% for priority in tasks %}
    <h3>Current {{ priority.lower() }}-priority tasks for this project:</h3>
    {% for task in tasks[priority]: %}
      {{ render_task(task, priority.lower()) }}
    {% else %}
      <li><em>None</em></li>
    {% endfor %}
  {% endfor %}
  </ul>

{% endblock %}
