{% extends "layout.html" %}
{% block body %}
  <h2>Edit project</h2>
  <form action="{{ url_for('projects.edit', id = id) }}" method=post enctype=multipart/form-data>
    <dt class="descr">{{ form.title.label }}:
    <dt>{{ form.title(class="textfield", style="width: 400px;") }}

    <dt class="descr">{{ form.text.label }}:
    <dt>{{ form.text(class="textfield", style="width: 400px; height: 150px;") }}

    <dt class="descr">{{ form.start_date.label }}:
    <dt>{{ form.start_date(class="textfield") }}
      
    <dt class="descr">{{ form.due_date.label }}:
    <dt>{{ form.due_date(class="textfield") }}

    {% if id != 'new' %}
  	<dt>Add up to 3 files:
  	{% for i in range(3) %}
  	<dt><input type=file style="margin-bottom:4px;" name=file{{ i }}>
  	{% endfor %}
    {% endif %}
    <dt><input type=submit value="Submit" style="margin-top:15px;" class="button">
  </dl>
  </form>
{% endblock %}
