{% extends "layout.html" %}
{% block body %}
  <h2>Sign up</h2>
  <form action="{{ url_for('index.sign_up') }}" method=post>
    <dd>{{ form.username(required=True, placeholder=form.username.label.text,
      class="textfield") }}
    <dd>{{ form.real_name(required=True, placeholder=form.real_name.label.text,
      class="textfield") }}
    <dd>{{ form.password(required=True, placeholder=form.password.label.text,
      class="textfield") }}
    <dd>{{ form.confirm_password(required=True, placeholder=form.confirm_password.label.text,
      class="textfield") }}
    <dd>{{ form.email(required=True, placeholder=form.email.label.text,
      class="textfield") }}
    <dd>{{ form.confirm_email(required=True, placeholder=form.confirm_email.label.text,
      class="textfield") }}
    <dd><input type=submit value="Sign up" class="button">
  </dl>
  </form>
{% endblock %}
